node_red_flow.json
[
  {
    "id": "a9aa42f44b75d040",
    "type": "tab",
    "label": "MSP - Moniteurs",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f63910d3f5491ae9",
    "type": "debug",
    "z": "a9aa42f44b75d040",
    "name": "debug 14",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 180,
    "wires": []
  },
  {
    "id": "2ad36cc72f75883a",
    "type": "websocket in",
    "z": "a9aa42f44b75d040",
    "name": "",
    "server": "500b520b8fdf0fe3",
    "client": "",
    "x": 140,
    "y": 180,
    "wires": [["aff9de3436833ba5"]]
  },
  {
    "id": "aff9de3436833ba5",
    "type": "function",
    "z": "a9aa42f44b75d040",
    "name": "function 2",
    "func": "\nreturn {payload:msg.payload};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 180,
    "wires": [["f63910d3f5491ae9"]]
  },
  {
    "id": "d975a99335d3a456",
    "type": "websocket out",
    "z": "a9aa42f44b75d040",
    "name": "",
    "server": "500b520b8fdf0fe3",
    "client": "",
    "x": 700,
    "y": 500,
    "wires": []
  },
  {
    "id": "fc189223edd754b8",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 1,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Delta",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "1",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 190,
    "y": 500,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "6e9c6bea12dc49be",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 4,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Tout-terrain",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "4",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 210,
    "y": 620,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "f3bb8a2b25034e43",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 2,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Para",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "2",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 190,
    "y": 540,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "fd02f03b5cc0f06d",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 3,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Neige",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "3",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 190,
    "y": 580,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "cba51661d7ec8f7e",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "8badd2afa92ff21d",
    "order": 3,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "Jouer",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "play",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 210,
    "y": 340,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "12df50137c2e1bd9",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "8badd2afa92ff21d",
    "order": 4,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "Pause",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "pause",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 210,
    "y": 380,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "b9c84a6fc8e33f5a",
    "type": "ui_switch",
    "z": "a9aa42f44b75d040",
    "name": "",
    "label": "1",
    "tooltip": "",
    "group": "f8ec06f4507b1929",
    "order": 0,
    "width": "2",
    "height": "1",
    "passthru": true,
    "decouple": "false",
    "topic": "1",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 150,
    "y": 1000,
    "wires": [["28dd861bbcefe10b"]]
  },
  {
    "id": "71e90a5fe5a14274",
    "type": "debug",
    "z": "a9aa42f44b75d040",
    "name": "debug 15",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 1000,
    "wires": []
  },
  {
    "id": "5027e34acfa255d9",
    "type": "function",
    "z": "a9aa42f44b75d040",
    "name": "function 3",
    "func": "var _monitors = context.get('monitors') || [0, 0, 0, 0, 0, 0];\nvar id = msg.id - 1\n_monitors[id] = msg.payload==true?1:0;\ncontext.set('monitors', _monitors)\nreturn { \"payload\": context.get('monitors')};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 1000,
    "wires": [["71e90a5fe5a14274"]]
  },
  {
    "id": "28dd861bbcefe10b",
    "type": "function",
    "z": "a9aa42f44b75d040",
    "name": "function 4",
    "func": "return {\"payload\":msg.payload, \"id\":msg.topic}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 1080,
    "wires": [["5027e34acfa255d9"]]
  },
  {
    "id": "11031c726c1d56ce",
    "type": "ui_switch",
    "z": "a9aa42f44b75d040",
    "name": "",
    "label": "2",
    "tooltip": "",
    "group": "f8ec06f4507b1929",
    "order": 0,
    "width": "2",
    "height": "1",
    "passthru": true,
    "decouple": "false",
    "topic": "2",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 150,
    "y": 1040,
    "wires": [["28dd861bbcefe10b"]]
  },
  {
    "id": "2592c7cd2c7b42d4",
    "type": "ui_switch",
    "z": "a9aa42f44b75d040",
    "name": "",
    "label": "3",
    "tooltip": "",
    "group": "f8ec06f4507b1929",
    "order": 0,
    "width": "2",
    "height": "1",
    "passthru": true,
    "decouple": "false",
    "topic": "3",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 150,
    "y": 1080,
    "wires": [["28dd861bbcefe10b"]]
  },
  {
    "id": "340c0f3cf303285b",
    "type": "ui_switch",
    "z": "a9aa42f44b75d040",
    "name": "",
    "label": "4",
    "tooltip": "",
    "group": "f8ec06f4507b1929",
    "order": 0,
    "width": "2",
    "height": "1",
    "passthru": true,
    "decouple": "false",
    "topic": "4",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 150,
    "y": 1120,
    "wires": [["28dd861bbcefe10b"]]
  },
  {
    "id": "58201dedeb76da86",
    "type": "ui_switch",
    "z": "a9aa42f44b75d040",
    "name": "",
    "label": "5",
    "tooltip": "",
    "group": "f8ec06f4507b1929",
    "order": 0,
    "width": "2",
    "height": "1",
    "passthru": true,
    "decouple": "false",
    "topic": "4",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 150,
    "y": 1160,
    "wires": [["28dd861bbcefe10b"]]
  },
  {
    "id": "a39399917254f4a8",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 1,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Soleil",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "5",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 330,
    "y": 660,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "52d22f35d83bf8d4",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 4,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Vélo",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "8",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 330,
    "y": 780,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "51b542281ea255de",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 2,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Zéro",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "6",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 330,
    "y": 700,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "ab43e1da91a442b5",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 3,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Rando",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "7",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 330,
    "y": 740,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "3bcc7515cf07a48b",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 1,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Glace",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "9",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 410,
    "y": 840,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "7d02b666348e7aa1",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 4,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Ciel",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "12",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 410,
    "y": 960,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "d991248a2b5e3c33",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 2,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Poudreuse",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "10",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 430,
    "y": 880,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "90a7e1dae216fed9",
    "type": "ui_button",
    "z": "a9aa42f44b75d040",
    "name": "",
    "group": "d8555314e8ad5ca1",
    "order": 3,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "Sommet",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "11",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 420,
    "y": 920,
    "wires": [["d975a99335d3a456"]]
  },
  {
    "id": "500b520b8fdf0fe3",
    "type": "websocket-listener",
    "path": "/msp/",
    "wholemsg": "true"
  },
  {
    "id": "d8555314e8ad5ca1",
    "type": "ui_group",
    "name": "Vidéos",
    "tab": "662c2f997ea303f5",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "8badd2afa92ff21d",
    "type": "ui_group",
    "name": "Controle",
    "tab": "662c2f997ea303f5",
    "order": 1,
    "disp": false,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "f8ec06f4507b1929",
    "type": "ui_group",
    "d": true,
    "name": "Écrans contrôlés",
    "tab": "662c2f997ea303f5",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "662c2f997ea303f5",
    "type": "ui_tab",
    "name": "Moniteurs muraux",
    "icon": "dashboard",
    "order": 2,
    "disabled": false,
    "hidden": false
  }
]
